body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    background-color: coral;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
